{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    {{ encore_entry_link_tags('css') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/app.js') }}"></script>
{{ encore_entry_script_tags('app') }}
{% endblock %}
