// @import 'react-toastify/dist/ReactToastify.css';
body {
    background-image  : url("../img/building.jpg");
    background-repeat : no-repeat;
    background-size : cover;

    color: aliceblue;

    h1 {
        text-shadow: black;
    }
}
